<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="12u 12u$(small)">
        <section class="widget contact last">
          <h3>Contact Us</h3>
          <ul>
            <li><a class="icon fa-twitter" href="https://twitter.com/AxisofStevil" ><span class="label">Twitter</span></a></li>
            <li><a class="icon fa-facebook" href="https://facebook.com/AxisofStevil"><span class="label">Facebook</span></a></li>
            <li><a class="icon fa-youtube" href="https://youtube.com/axisofstevil"><span class="label">YouTube</span></a></li>
            <li><a class="icon fa-vimeo" href="https://vimeo.com/axisofstevil"><span class="label">Vimeo</span></a></li>
            <li><a class="icon fa-github" href="https://github.com/axisofstevil"><span class="label">Github</span></a></li>
            <li><a class="icon fa-medium" href="https://medium.com/axis-of-stevil"><span class="label">Medium</span></a></li>
            <li><a class="icon fa-envelope" href="mailto:{{ site.email }}"><span class="label">Email</span></a></li>
            <li><a class="icon fa-feed" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="label">Subscribe via RSS</span></a></li>
          </ul>
        </section>
      </div>
    </div>
      <div class="row">
      <div class="12u">
        <div id="copyright">
          <ul class="menu">
            <li>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved. {{site.contact_address | join: ', '}}</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
<script src="/js/main.js"></script>
