<div id="header-wrapper">
  <header id="header" class="container">
      <div id="logo">
        <a href="/"><img src="https://axisofstevil.s3.amazonaws.com/img/logo-banner.png" alt="{{site.title}}"></a>
      </div>
      <nav id="nav">
        <ul>
          <li>
            <a href="https://www.axisofstevil.com">AxisofStevil.com</a>
            <ul>
              <li><a href="https://www.axisofstevil.com/publications">/publications</a></li>
              <li><a href="https://www.axisofstevil.com/language">/language</a></li>
              <li><a href="https://www.axisofstevil.com/featured-steves">/featured-steves</a></li>
              <li><a href="https://www.axisofstevil.com/ask-stevil">/ask-stevil</a></li>
            </ul>
          </li>
        </ul>
      </nav>
  </header>
</div>
